
.details-text {
    vertical-align:top;
    margin-left: 5px;
    margin-bottom: 2px;
}

.button-icon {
    width: 15px;
    height: 15px;
    vertical-align:sub;
}

.vue-js-switch#changed-font {
    font-size: 16px !important;

  }
